{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": 1,
    "comma-style": [1, "last"],
    "curly": [1, "multi-line"],
    "eol-last": 1,
    "eqeqeq": 1,
    "new-cap": 1,
    "no-array-constructor": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-new-object": 1,
    "no-shadow-restricted-names": 1,
    "no-unused-vars": [1, {"args":"none"}],
    "radix": 1,
    "react/jsx-uses-vars": 1,
    "semi": 2,
    "space-before-blocks": [1, "always"]
  }
}
